@model BankModel.Entities.Client

@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete?</h3>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div>
        <input type="submit" value="Delete"/>
    </div>
     @Html.ActionLink("<-- Back", "Index", "Admin")
    
}
