@{
    ViewBag.Title = "Contact";
}

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">MTC:</span>
        <span>+375 33 6238761</span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Google:</span>
        <span>galushkin.aleksey@gmail.com</span>
    </p>
    
</section>
