@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h5 style="color: white; font-size: 2em">Welcome to JustBank!</h5>
            </hgroup>
         </div>
    </section>
}
